/***********************************
* Browser Reset
***********************************/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/***********************************
* General Styles
***********************************/

body {
    background: #F3F3F3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: url("../images/linedpaper.png") repeat top center;
}

.box-shadow {
    -moz-box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
    -webkit-box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
}

.page-title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 3px;
    margin-bottom: 1em;
}

.sidebar-title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 3px;
    margin-bottom: 1em;
    padding-bottom: .2em;
    border-bottom: 2px solid #F3F3F3;
}

img {
    width: 100%;
    height: auto;
}

/***********************************
* Header Styles
***********************************/

.wrapper-container {
    min-height: 100%;
    margin-bottom: -65px;
}

.header {
    position: relative;
    background: #DEDEDE;
}

.header-content {
    width: 85%;
    margin: 0 auto;
    padding: 1em;
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid #222;
    box-shadow: 0 1px 0 #262626;
    background-color: #191919;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#282828),to(#191919));
    background-image: -webkit-linear-gradient(top,#282828,#191919);
    background-image: linear-gradient(top,#282828,#191919);
}

.brand-container {
    display: inline-block;
    float: left;
}

.branding-text {
    color: #F3F3F3;
}

.nav-container {
    display: inline-block;
    float: right;
}

.nav-item {
    display: inline-block;
    line-height: 33px;
    margin-right: .8em;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item-link {
    color: #F3F3F3;
    display: inline-block;
    padding: .5em 0 .5em 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: .850em;
}

.nav-item-link:hover {
    color: #9c9c9c;
}


/***********************************
* Content Styles
***********************************/

.intro-screen {
    width: 85%;
    margin: 0 auto;
    min-height: 440px;
    padding: 1em;
    background: url("../images/intro-bg.jpg");
    background-size: cover;
}

.intro-content {
    margin: 6em 5em 0 8em;
}

.intro-title {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3em;
    padding-bottom: .3em;
}

.intro-text {
    font-family: 'Roboto Slab', serif;
    color: rgba(255, 255, 255, 0.64);
    line-height: 30px;
    width: 70%;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
}

.home-content {
    font-family: 'Roboto Slab', serif;
    line-height: 30px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 1em;
}

.skills-content {
    position: relative;
}

.skills-content li:nth-of-type(1) .skills-overlay-bar {
    width: 95%;
}

.skills-content li:nth-of-type(2) .skills-overlay-bar {
    width: 85%;
}

.skills-content li:nth-of-type(3) .skills-overlay-bar {
    width: 90%;
}

.skills-content li:nth-of-type(4) .skills-overlay-bar {
    width: 60%;
}

.skills-content li:nth-of-type(5) .skills-overlay-bar {
    width: 80%;
}

.skills-overlay-bar {
    position: absolute;
    height: 3px;
    background: orangered;
    display: block;
    top: 27px;
    left: 0;
    z-index: 100;
}

.skills-bg {
    background: #e7e7e7;
    height: 3px;
    display: block;
    position: absolute;
    width: 100%;
    top: 27px;
    left: 0;
    z-index: 50;
}

.skills-persent {
    position: absolute;
    right: 20px;
}

.skills-content-item {
    position: relative;
    margin-bottom: 1.5em;
}

.intro-text span {
    color: orangered;
}

.profile-btn {
    background-color: orangered;
    color: black;
    padding: .5em;
    border-radius: 3px;
    margin-top: 2em;
    display: inline-block;
    font-size: .900em;
    font-family: 'Roboto Slab', serif;
}

.profile-btn:hover {
    background-color: orange;
}

.content-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

.content {
    width: 85%;
    margin: 0 auto;
    padding: 2em;
    overflow: hidden;
}

.main-article {
    float: left;
    width: 75%;
}

.sidebar {
    float: right;
    width: 23%;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .5em;
}

.flickr-content li {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
    width: 22%;
}

.flickr-content li img {
    width: 100%;
}

.responsive-blocks {
    width: 100%;
    margin-bottom: 1em;
}

.drupal-contribution li {
    margin-bottom: .3em;
}

.drupal-contribution li a {
    color: #282828;
    font-size: .900em;
    font-weight: 100;
}

.drupal-contribution li a:hover {
    color: orangered;
}

.recent-items {
    overflow: hidden;
    clear: both;
}

.recent-item {
    float: left;
    width: 31%;
    margin-right: 1em;
}

.recent-item-content {
    width: 100%;
    position: relative;
    background: #FFFFFF;
    border: 2px solid #777777;
    margin-bottom: 1em;
}

.recent-item-meta {
    position: absolute;
    bottom: 0px;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    padding: .5em;
    border-top-right-radius: 5px;
}

.recent-item-meta .fa {
    color: white;
    font-size: .850em;
    font-weight: 100;
}

.recent-item-link {
    color: white;
    font-size: .850em;
    font-weight: 100;
    display: inline-block;
    padding-right: 1em;
}


.profile-picture-holder {
    width: 31%;
    position: absolute;
    top: 0;
    right: 27px;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}
.social-items {
    margin-top: 1em;
}

.social-item {
    display: inline-block;
    margin-right: .5em;
}

.social-item:last-child {
    margin-right: 0;
}

.social-item-link {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    background: #E2E2E2;
    border-radius: 50%;
    border: 1px solid #CCC;
    font-size: 1.2em;
    line-height: 32px;
    color: dimgrey;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.social-item-link:hover {
    background: orangered;
    color: #FFFFFF;
    border: 1px solid #FFF;
}

.contact-item,
.form-item {
    position: relative;
    overflow: visible;
    clear: both;
    margin-bottom: 2.5em;
}

.form-item {
    margin-bottom: 2.5em;
    overflow: visible;
}

.contact-item label,
.form-item label {
    display: inline-block;
    width: 125px;
    text-align: right;
    margin-right: 2em;
}

.contact-item:nth-child(4) label {
    vertical-align: top;
}

.form-item:nth-child(5) label {
    vertical-align: top;
}

.form-item:nth-child(5) > span.error {
    top: 200px;
}

.contact-item:last-child,
.form-item:last-child {
    text-align: center;
}

.contact-item input[type="text"],
.form-item input[type="text"] {
    width: 500px;
    padding: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #D0D0D0;
    font-size: 1em;
}

.contact-item textarea,
.form-item textarea {
    width: 500px;
    font-size: 1em;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: .5em;
}

.btn {
    padding: .5em 1em;
    font-size: .900em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 300;
}

.education-item,
.experience-item {
    overflow: hidden;
    clear: both;
    position: relative;
}

.edu-year,
.exp-year {
    display: inline-block;
    width: 100px;
    float: left;
    background: #646375;
    padding: .2em;
    text-align: center;
    color: #FFF;
    position: relative;
}

.edu-year:after,
.exp-year:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #646375;
    font-size: 2em;
    padding-right: 0.5em;
    position: absolute;
    top: -3px;
    right: -25px;
}

.edu-meta,
.exp-meta {
    margin-left: 1em;
    float: left;
    border-left: 2px solid #C5C5C5;
    padding-left: 1em;
    padding-bottom: 2em;
    position: relative;
    width: 70%;
}


.edu-meta:before,
.exp-meta:before {
    content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #646375;
    font-size: .800em;
    padding-right: 0.5em;
    position: absolute;
    top: 7px;
    left: -7px;
}

.edu-title,
.exp-title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: .5em;
}

.edu-university,
.exp-company {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: .5em;
}

.exp-desc {
    font-family: 'Roboto Slab', serif;
    font-size: .900em;
    font-weight: 300;
    margin-bottom: .5em;
    color: #989898;
}

.obj-desc {
    font-family: 'Roboto Slab', serif;
    font-size: .900em;
    font-weight: 300;
    margin-bottom: .5em;
    color: #989898;
    line-height: 22px;
}

.admin-btn-container {
    margin-top: 1em;
}

.btn-admin {
    display: inline-block;
    padding: .5em;
    background: orangered;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #F3F3F3;
    font-size: .900em;
    font-weight: 300;
}

.admin-icon {
    color: #191919;
    font-size: .900em;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #D8D8D8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 21px;
    border: 1px solid #9c9c9c;
    margin-left: .4em;
}

.admin-icon:first-child {
    margin-left: 0;
}

.error {
    color: red;
    position: absolute;
    left: 167px;
    top: 37px;
    z-index: 999999;
    font-size: .900em;
    font-weight: 100;
    display: none;
}

.show-error {
    display: block;
}

.error-input {
    border: 1px solid red !important;
}

.btn-gray {
    background: gray;
    color: #FFF;
}

.alert-warning {
    padding: 1em;
    background: #fff5d5;
    border: 1px solid #FF5722;
    margin-bottom: 2em;
    border-radius: 5px;
}

/***********************************
* Layouts
***********************************/

.row,
.admin-row {
    position: relative;
    overflow: hidden;
    clear: both;
}

.column-left {
    float: left;
    width: 62%;
    margin-right: 2em;
}

.column-right {
    float: left;
    width: 31%;
}

.single-column {
    width: 90%;
}

.single-column-gallery {
    width: 100%;
}

table.admin-tbl,
table {
    border-collapse: collapse;
    width: 95%;
}

thead th {
    background: #DEDEDE;
    border-bottom: 2px solid #282828;
    padding: .5em;
    text-align: left;
}

thead th:nth-of-type(1) {
    width: 30%;
}

thead th:nth-of-type(2) {
    width: 45%;
}

thead th:nth-of-type(3) {
    width: 25%;
}

tbody td {
    padding: .5em;
    font-weight: 300;
}

tbody tr:nth-child(even) {
    background: #e7e7e7;
}

tbody tr:nth-child(odd) {
    background: #FFFFFF;
}

/***********************************
* Flickr Gallery
***********************************/

.flickr-gallery {
    overflow: hidden;
    clear: both;
}

.flickr-gallery-item {
    display: inline-block;
    width: 200px;
    height: 160px;
    margin: 0 1em 1em 0;
    vertical-align: top;
}

.flickr-gallery-item .flickr_thump {
    width: 200px;
    height: 160px;
}

.large-img-container {
    position: absolute;
    background: #222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 7px;
    text-align: left;
    overflow: hidden;
    height: 0;
    transition: height 350ms ease;
    color: #F3F3F3;
}

.flickr-gallery-item.expanded {
    height: 467px;
}

.large-img-meta {
    position: relative;
}

.flickr-gallery-item.expanded > .large-img-container {
    height: 304px;
    width: 848px;
}

.flickr_thump-wrapper {
    position: relative;
}

.flickr-gallery-item.expanded > .flickr_thump-wrapper:before {
    content: "\f0d8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #222;
    font-size: 3em;
    padding-right: 0.5em;
    position: absolute;
    top: 1px;
    left: 86px;
}

.flickr-gallery-item.expanded > .large-img-container > .large-img-meta img {
    width: 350px;
    margin: 13px 0 0 13px;
}

.img-title {
    position: absolute;
    top: 26px;
    left: 400px;
}

a.flickr-link {
    background-color: orangered;
    color: black;
    padding: .5em;
    border-radius: 3px;
    margin-top: 2em;
    display: inline-block;
    font-size: .900em;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 400px;
    top: 50px;
}

a.flickr-link:hover {
    background-color: orange;
}

.close {
    position: absolute;
    z-index: 999;
    right: 7px;
    top: 5px;
}

/***********************************
* Footer Styles
***********************************/

.footer {
    position: relative;
    clear: both;
    text-align: center;
    margin-top: 1em;
    background: #DEDEDE;
}

.footer-content {
    width: 85%;
    margin: 0 auto;
    padding: 1em;
    background: #616161;
    color: #FFFFFF;
    font-size: .900em;
    font-weight: 100;
    letter-spacing: 1px;
    height: 20px;
}

.wrapper-container:after {
    content: "";
    display: block;
    height: 100px;
}